#braceletdiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 10px; */
    width: 75%;
    margin: auto;
    
}
#braceletdiv img{
    width: 90%;
    /* border: 1px solid; */
}
.filterdiv{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /* border: 1px solid; */
    width :11%
}
#earingoption{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    /* border: 1px solid; */
    /* height: 10px; */;
    width: 75%;
    margin: auto;
}
.sortdiv{
    display: flex;
}