body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #121212;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 80%;
  height: auto;
  margin: auto;
}
#head-filter {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  font-family: Assistant, sans-serif;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
#head-filter > div {
  position: relative;
}
#head-filter > div > p {
  padding-right: 30px;
}
#head-filter > p {
  padding-right: 20px;
}
#left-head {
  width: 65%;
  display: flex;
  justify-content: end;
  padding-left: 20px;
}
#left-head > div {
  width: 60px;
}
#products {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 400px);
  gap: 8px;
  padding: 0 4rem;
}
#products > #card > img {
  width: 100%;
}
#shopall-head {
  width: 100%;
  padding: 0px 150px;
  display: flex;
  justify-content: end;
}
#sort-product {
  margin-left: 15px;
}
#price-range {
  margin-top: 20px;
  width: 22%;
  display: none;
  height: 150px;
  background-color: white;
  position: absolute;
  left: 250px;
  z-index: 1;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#price-head {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: Assistant, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#price-input {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Assistant, sans-serif;
  font-size: 16px;
}
.price-input-box {
  width: 100px;
  height: 40px;
}
input[type="checkbox"] {
  width: 50px;
  height: 20px;
  margin-top: 20px;
}
#stock-select {
  margin-top: 20px;
  width: 22%;
  display: none;
  height: 150px;
  background-color: white;
  position: absolute;
  z-index: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#select {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: Assistant, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#stock {
  width: 80%;
  font-family: Assistant, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}
#pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: 80px;
  cursor: pointer;
}
.page {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.page:hover {
  border: none;
  border-bottom: 1px solid #121212;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
#heading {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}
#heading > h1 {
  font-size: 40px;
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 100;
  margin-left: 63px;
}

#card h3 {
  font-family: Assistant, sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}
#card p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Assistant, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
