#f-container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#ft-left-side {
  width: 50%;
}
#ft-right-side {
  width: 50%;
}
#ft-left-side h3,
#ft-right-side h3,
#email-heading h3 {
  margin-top: 30px;
  font-size: 17px;
  line-height: 23px;
  color: #121212;
  font-weight: 400;
}
#ft-left-side a {
  display: block;
  font-size: 14px;
  line-height: 25px;
  color: #1212129e;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
}
#ft-left-side a:hover {
  cursor: pointer;
  color: #121212;
  border: none;
  border-bottom: 1px solid transparent;
}
#need-to-talk {
  font-size: 16px;
  line-height: 29px;
  color: rgba(18, 18, 18, 0.75);
  font-weight: 400;
}
#email-para {
  font-size: 16px;
  line-height: 29px;
  color: rgba(18, 18, 18, 0.75);
  font-weight: 700;
}
#phone-para {
  font-size: 16px;
  line-height: 29px;
  color: rgba(18, 18, 18, 0.75);
  font-weight: 700;
}
#text-msg-para {
  font-style: italic;
  font-size: 16px;
  line-height: 29px;
  color: rgba(18, 18, 18, 0.75);
  font-weight: 400;
}
#email-heading {
  width: 70%;
  margin: auto;
}
#email-social-icon {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
#email-input {
  width: 300px;
  height: 45px;
  font-size: 16px;
  padding: 0px 15px;
}
#email-input:hover {
  outline: 1px solid #121212;
}
#all-icons .fa {
  font-size: 20px;
  margin-right: 20px;
}
#all-icons .fa:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#end-payment-bar {
  margin-top: 50px;
  width: 100%;
  height: 37px;
}
#pay-icons {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: center;
  gap: 10px;
}
#pay-icons div {
  width: 36px;
  height: 22px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
#pay-icons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#copyright {
  text-align: center;
  font-size: 10px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.75);
  font-weight: 400;
  margin-bottom: 30px;
}
#copyright span:hover {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #121212;
}
@media all and (max-width: 1024px) {
  #f-container {
    width: 90%;
  }
  #email-heading {
    width: 90%;
  }
  #email-social-icon {
    width: 90%;
  }
  #pay-icons {
    width: 90%;
  }
}
@media all and (min-width: 427px) and (max-width: 768px) {
  #f-container {
    width: 90%;
  }
  #email-heading {
    width: 90%;
  }
  #email-social-icon {
    width: 90%;
  }
  #pay-icons {
    width: 90%;
  }
  #need-to-talk {
    font-size: 14px;
  }
  #email-para {
    font-size: 14px;
  }
  #phone-para {
    font-size: 14px;
  }
  #text-msg-para {
    font-size: 14px;
  }
}
@media all and (max-width: 426px) {
  #f-container {
    width: 80%;
    flex-direction: column;
  }
  #email-heading {
    width: 90%;
  }
  #email-social-icon {
    width: 90%;
  }
  #pay-icons {
    width: 90%;
  }
  #email-heading {
    text-align: center;
  }
  #email-social-icon {
    flex-direction: column;
    margin-bottom: 40px;
  }
  #pay-icons {
    flex-wrap: wrap;
  }
  #end-payment-bar {
    margin-top: 40px;
  }
  #copyright {
    margin-top: 40px;
  }
  #need-to-talk {
    font-size: 14px;
  }
  #email-para {
    font-size: 14px;
  }
  #phone-para {
    font-size: 14px;
  }
  #text-msg-para {
    font-size: 14px;
  }
}
