#footer {
  width: 100%;
  height: auto;
}
#parent {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
#son1 {
  width: 40%;
  height: 100%;
}
#son1 > h5 {
  font-size: 20px;
}
#son1 > p {
  font-size: 17px;
  color: gray;
}
#son2 {
  width: 40%;
  height: 100%;
}
#son2 > h5 {
  font-size: 20px;
}
#son2 > p {
  font-size: 18px;
}
#mail {
  border: 1px solid black;
  width: 60%;
  margin-top: -5px;
}
#mail > p {
  font-size: 19px;
}
#insta {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
#insta > div {
  width: 15%;
  height: 100%;
}
#insta > div > img {
  width: 100%;
  height: 100%;
}
#payment {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
#pay {
  width: 60%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#pay > div {
  width: 7%;
  height: 50px;
}
#pay > div > img {
  height: 100%;
  width: 100%;
}
