body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #121212;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#top-bar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-bar p {
  line-height: 17px;
  font-size: 13px;
  color: #121212bf;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 0px 20px;
}
.hr-bar {
  border: none;
  border-top: 1px solid #ececec;
  margin: 0px;
}
#header {
  width: 75%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  cursor: pointer;
}
#logo-menus {
  display: flex;
  gap: 50px;
}
#lovoda-img {
  height: 45px;
}
#menus {
  display: flex;
  align-items: center;
  gap: 25px;
}
#menus a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #3f382ea6;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
#menus a:hover {
  border-bottom: 1px solid #121212;
}
#right-icons {
  display: flex;
  gap: 25px;
}
#right-icons a:hover {
  transition: transform 0.2s;
}
#right-icons a:hover {
  transform: scale(1.1);
}
#right-icons a {
  color: #121212;
}
#right-icons a .fa {
  font-size: 20px;
}
.fa-search,
.fa-shopping-bag {
  color: #121212b5;
}
#left-bar .fa {
  font-size: 25px;
  color: #12121295;
}
#total-cart-item {
  border: none;
  border-radius: 50%;
  background-color: #121212;
  color: white;
  position: absolute;
  margin-top: -10px;
  margin-left: 15px;
  font-size: 10px;
  padding: 2px 6px;
}
#total-cart-item:hover {
  cursor: pointer;
}

@media all and (min-width: 1025px) {
  #left-bar {
    display: none;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  #header {
    width: 90%;
  }
  #left-bar {
    display: none;
  }
}
@media all and (min-width: 427px) and (max-width: 768px) {
  #header {
    width: 90%;
  }
  #menus {
    display: none;
  }
  #logo {
    margin-left: 120px;
  }
  #header {
    height: 80px;
  }
}
@media all and (max-width: 426px) {
  #header {
    width: 90%;
  }
  #menus {
    display: none;
  }
  #logo {
    margin-left: 120px;
  }
  #header {
    height: 80px;
  }
  #login-icon {
    display: none;
  }
}
