body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #121212;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
#first-side {
  width: 50%;
  display: flex;
  gap: 30px;
  align-items: center;
}
#heading {
  width: 75%;
  margin: auto;
}
#head-filter {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
}
#head-filter > div > p {
  padding-right: 30px;
}
#head-filter > p {
  padding-right: 20px;
}
#left-head {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
#left-f {
  display: flex;
  gap: 20px;
}

#shopall-head {
  width: 100%;
  padding: 0px 150px;
  display: flex;
  justify-content: end;
}
#sort-product {
  margin-left: 15px;
}
#price-range {
  margin-top: 20px;
  width: 22%;
  display: none;
  height: 150px;
  background-color: white;
  position: absolute;
  left: 250px;
  z-index: 1;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#price-head {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: Assistant, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#price-input {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Assistant, sans-serif;
  font-size: 16px;
}
.price-input-box {
  width: 100px;
  height: 40px;
}
input[type="checkbox"] {
  width: 50px;
  height: 20px;
  margin-top: -10px;
}
#stock-select {
  margin-top: 20px;
  width: 22%;
  display: none;
  height: 150px;
  background-color: white;
  position: absolute;
  z-index: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#select {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: Assistant, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#stock {
  width: 80%;
  font-family: Assistant, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}
#pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: 80px;
  cursor: pointer;
}
.page {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.page:hover {
  border: none;
  border-bottom: 1px solid #121212;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
#heading > h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  color: #121212;
}
#card h3 {
  font-family: Assistant, sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}
#card p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Assistant, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
#product-list {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  margin-top: 15px;
}
.card:hover {
  cursor: pointer;
}
.card {
  overflow: hidden;
}
.img-box {
  height: 400px;
  overflow: hidden;
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-in-out;
  overflow-y: hidden;
  object-fit: cover;
}
.card img:hover {
  transform: scale(1.05);
}
.card button {
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: white;
  height: 32px;
  width: 32px;
  margin-top: 3px;
  font-size: 20px;
  z-index: 1;
}
.card button:hover {
  cursor: pointer;
}
.fa-heart-o {
  z-index: 1;
  position: absolute;
  margin-left: -10px;
  margin-top: -8px;
  color: #c9ac92;
}
.fa-heart {
  z-index: 1;
  position: absolute;
  margin-left: -10px;
  margin-top: -8px;
  color: #c9ac92;
}
.prod-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #121212;
}
.prod-price {
  font-size: 14x;
  font-weight: 400;
  line-height: 17px;
  color: #121212;
}
#selector {
  border: none;
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  #head-filter {
    width: 90%;
  }
  #heading {
    width: 90%;
  }
  #product-list {
    width: 90%;
  }
}
@media all and (min-width: 427px) and (max-width: 768px) {
  #head-filter {
    width: 90%;
  }
  #heading {
    width: 90%;
  }
  #product-list {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (min-width: 376px) and (max-width: 426px) {
  #product-list {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
  }
  #heading {
    width: 90%;
  }
  #heading h1 {
    font-size: 24px;
  }
  #head-filter {
    display: none;
  }
}
@media all and (max-width: 376px) {
  #product-list {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
  }
  #heading {
    width: 90%;
  }
  #heading h1 {
    font-size: 24px;
  }
  #head-filter {
    display: none;
  }
}
